In [ ]:
my_fellas = ["Ronaldo", "Pessi", "Anderson", "Abdurrahman", "Sultan"]
print (my_fellas[0])
print ("Isi my_fellas indeks ke-0 adalah {}".format(my_fellas[0]))
print ("Semua teman: ada {} orang".format(len(my_fellas)))
for i in my_fellas : print (i)

Ronaldo
Isi my_fellas indeks ke-0 adalah Ronaldo
Semua teman: ada 5 orang
Ronaldo
Pessi
Anderson
Abdurrahman
Sultan

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [1]:
buah = ["Apel","mangga","nangka","jeruk","nanas"]
buah.append("manggis")
print(buah)

['Apel', 'mangga', 'nangka', 'jeruk', 'nanas', 'manggis']

In [2]:
teman = ["Ronaldo", "Giannis", "Pesi", "James", "Ghareeb"]
teman[4] = "Ronaldo"
print("Teman dekat saya adalah {}.".format(teman[4]))

Teman dekat saya adalah Ronaldo.

In [3]:
#Deklarasi List
nilai = [2,4,6,8,10,12,14,16,18,20]

#tampilkan list
print("List Nilai : \n",nilai)

#menggunakan len
print("\nJumlah Index list nilai (len) : \n", len(nilai))

#menggunakan count
print("\nJumlah Nilai 5 Dalam List (count) : \n", nilai.count(2))

#Menggunakan append
print("\nMenambah element dalam list (append) : ")
nilai.append(12)
nilai.append(10)
print("List Nilai : ",nilai)

#Menggunakan index
print("\nIndex ke 8 (index) : \n", nilai.index(12))

#Menggunakan insert
nilai.insert(1,22)
print("\nTambah Nilai List (Insert) : \n", nilai)
#Menggunakan pop
nilai.pop()
nilai.pop()
print("\nList Nilai (pop) : \n",nilai)

#Menggunakan remove
nilai.remove(2)
nilai.remove(4)
print("\nList Nilai (remove) : \n", nilai)

List Nilai :
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Jumlah Index list nilai (len) :
 10

Jumlah Nilai 5 Dalam List (count) :
 1

Menambah element dalam list (append) :
List Nilai :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 12, 10]

Index ke 8 (index) :
 5

Tambah Nilai List (Insert) :
 [2, 22, 4, 6, 8, 10, 12, 14, 16, 18, 20, 12, 10]

List Nilai (pop) :
 [2, 22, 4, 6, 8, 10, 12, 14, 16, 18, 20]

List Nilai (remove) :
 [22, 6, 8, 10, 12, 14, 16, 18, 20]

In [4]:
#Menggunakan extend
nilai2 = [4,2,8,10]
nilai.extend(nilai2)
print("\nList Nilai (extend : \n", nilai)

#Menggunakan reverse
nilai.reverse()
print("\nList Nilai (reverse) : \n", nilai)

#Menggunakan sort
nilai.sort()
print("\nList Nilai (sort) : \n", nilai)

#Menggunakan Max
print("\nNilai Terbanyak (max) : \n", max(nilai))

#Mengguankan min
print("\nNilai terendah (min) : \n", min(nilai))

#Menggunakan Sum
print("\nTotal penjumlahan nilai dari list_nilai (sum) : \n",
sum(nilai))

List Nilai (extend :
 [22, 6, 8, 10, 12, 14, 16, 18, 20, 4, 2, 8, 10]

List Nilai (reverse) :
 [10, 8, 2, 4, 20, 18, 16, 14, 12, 10, 8, 6, 22]

List Nilai (sort) :
 [2, 4, 6, 8, 8, 10, 10, 12, 14, 16, 18, 20, 22]

Nilai Terbanyak (max) :
 22

Nilai terendah (min) :
 2

Total penjumlahan nilai dari list_nilai (sum) :
 150

In [5]:
# Deklarasi List Nama Orang
nama_orang = ["Ronaldo", "Giannis", "Pesi", "James", "Butler","Nawaf"]

# Tampilkan List
print("List Nama Orang: \n", nama_orang)

# Menggunakan len
print("\nJumlah Index List Nama Orang (len): \n", len(nama_orang))

# Menggunakan count
print("\nJumlah Nama Khoirul dalam List (count): \n", nama_orang.count("Pesi"))

# Menggunakan append
print("\nMenambah Nama ke dalam List (append): ")
nama_orang.append("Carlos")
nama_orang.append("Genuks putra")
print("List Nama Orang: ", nama_orang)

# Menggunakan index
print("\nIndex ke-3 (index): \n", nama_orang.index("Nawaf"))

# Menggunakan insert
nama_orang.insert(2, "Soleh")
print("\nMenambah Nama ke dalam List (Insert): \n", nama_orang)

# Menggunakan pop
nama_orang.pop()
nama_orang.pop()
print("\nList Nama Orang (pop): \n", nama_orang)
# Menggunakan remove
nama_orang.remove("Nawaf")
nama_orang.remove("Pesi")
print("\nList Nama Orang (remove): \n", nama_orang)

List Nama Orang:
 ['Ronaldo', 'Giannis', 'Pesi', 'James', 'Butler', 'Nawaf']

Jumlah Index List Nama Orang (len):
 6

Jumlah Nama Khoirul dalam List (count):
 1

Menambah Nama ke dalam List (append):
List Nama Orang:  ['Ronaldo', 'Giannis', 'Pesi', 'James', 'Butler', 'Nawaf', 'Carlos', 'Genuks putra']

Index ke-3 (index):
 5

Menambah Nama ke dalam List (Insert):
 ['Ronaldo', 'Giannis', 'Soleh', 'Pesi', 'James', 'Butler', 'Nawaf', 'Carlos', 'Genuks putra']

List Nama Orang (pop):
 ['Ronaldo', 'Giannis', 'Soleh', 'Pesi', 'James', 'Butler', 'Nawaf']

List Nama Orang (remove):
 ['Ronaldo', 'Giannis', 'Soleh', 'James', 'Butler']